{% extends 'base.html' %}

{% load static %}

{% load filters %}

{% block content %}

		<main>
			<script src={% static 'js/occasion.js' %}></script>
			<div class="occasion-container">
				<div class="occasion-form-holder">
					<i class="fa-solid fa-calendar-days"></i>
					<form class="occasion-form" id="occasionForm" method="POST" enctype="multipart/form-data">
						{{ form.as_p }}
						{% csrf_token %}
					</form>
				</div>	
			
				<section>
					<div class="occasions-timetable">
						{% for occasion in occasions %}
						<div class="occasion-entry">
							<div class="occasion-date-weekday">
								<span class="date">{{ occasion.start_time|date:"d" }}</span>
								<span class="weekday">{{ occasion.start_time|date:"l" }}</span>
							</div>
							<div class="occasion-info">
								<span class="occasion-time">{{ occasion.start_time|date:"H:i" }} - {{ occasion.end_time|date:"H:i" }}</span>
								<span class="occasion-name">
									 <a href="{% url 'event-details' pk=occasion.event.pk slug=occasion.event.slug %}">{{ occasion.event.name }}</a>
								</span>
								<span class="occasion-chef">
									<a href="{% url 'chef-details' pk=occasion.chef.pk slug=occasion.chef.slug %}">{{ occasion.chef.name }}</a>
								</span>
							</div>
							<div class="occasion-venue">
								<span class="occasion-venue-name">
									 <a href="{% url 'venue-details' pk=occasion.venue.pk slug=occasion.venue.slug %}">{{ occasion.venue.name }}</a>
								</span>
								<span class="occasion-location">
									{{ occasion.venue.location }}
								</span>
							</div>
							<div class="occasion-actions">
								<ul class="actions-list">
									<li class="action-item see-more" onclick="location.href='{% url 'event-details' pk=occasion.event.pk slug=occasion.event.slug %}'">See More</li>
									{% if occasion|has_available_seats %}
										<li class="action-item book-now" onclick="window.location.href='{% url 'book-occasion' occasion_id=occasion.id %}';">Book Now</li>
									{% else %}
										<li class="action-item sold-out">Sold Out</li>
									{% endif %}
								</ul>
							</div>
							{% if request.user.is_staff %}
							<a class="edit-occasion" href="{% url 'occasion-edit' pk=occasion.pk %}"><i class="fa-solid fa-pencil"></i></a>
							<a class="delete-occasion" href="{% url 'occasion-delete' pk=occasion.pk %}"><i class="fa-solid fa-trash-can"></i></a>
							{% endif %}
						</div>
						{% empty %}
						<p>At this moment, our calendar does not feature events for the selected period. We invite you to revisit as we continuously update our schedule or check another period.</p>
						{% endfor %}
					</div>
				</section>
			</div>
		</main>


{% endblock %}
