{% extends 'base.html' %}

{% load static %}

{% load filters %}

{% block content %}

	<main>
		<section class="description">
			<h2>Begin your <em>flavour</em> journey</h2>
		</section>
			<form class="profile-form" action="{% url 'signup-user' %}" method="POST">
				<p>
					{{ form.username|placeholder:"Username" }}
					{{ form.username.errors }}
				</p>
				<p>
					{{ form.email|placeholder:"Email" }}
					{{ form.email.errors }}
				</p>
				<p>
					{{ form.password1|placeholder:"Password" }}
					{{ form.password1.errors }}
				</p>
				<p>
					{{ form.password2|placeholder:"Confirm password" }}
					{{ form.password2.errors }}
				</p>
				{% csrf_token %}
				<button type="submit">Sign Up</button>
			</form>
			<p class='reminder'>Already have an account? <a href="{% url 'signin-user' %}" class="log-reg-link">Sign In</a></p>
		
	</main>


{% endblock %}
