.header {
	text-align: center;
	padding: 20px 0;
	background-color: #36454F;
	background-image: url("header.jpg");
	background-size: cover;
	background-position: center;
}

.landing-logo img {
	max-height: 150px;
	width: auto;
}

.header h2 {
	color: #ffffff;
	font-style: italic;
	font-size: 0.8em;
	font-weight: 400;
}

.header p {
	color: #ffffff;
	font-style: oblique;
	font-size: 0.8em;
	font-weight: 400;
}

.index-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  padding: 0 2%;
  margin: 0 auto;
}

.index-description h1 {
	text-align: center;
	color: #7B003A;
	font-size: 3em;
}

.index-description p {
	text-align: left;
	margin-top: 0px;
	margin-bottom: 10px;
    line-height: 1.5;
	font-size: 1.05em;
}