@import url('https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css');

.top-container{
	position: relative;
	max-width: 1240px;
	max-height: 600px;
	margin: 0 auto;
	height: 100%;
	display: flex; /* Use Flexbox */
	align-items: center; /* Center items vertically */
	justify-content: space-between; 
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	text-decoration: none;
}

.slide-image {
	width: 100%; /* Adjust image width as necessary */
	height: 100%; /* Maintain aspect ratio */
}

/* Overlay style */
.swiper-slide-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 0;
	overflow: hidden;
	width: 100%;
	background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
	opacity: 0; /* Start fully transparent */
	transition: 0.75s ease-in-out; /* Smooth transition for the overlay appearance */
}

/* Show the overlay on hover */
.swiper-slide:hover .swiper-slide-overlay {
	opacity: 1; /* Fully visible on hover */
	height: 40%;
}

.slide-content {
	position: absolute;
	overflow: hidden;
	bottom: 7vh; /* Spacing from the bottom */
	left: 5%;
	right: 5%;
	width: 90%;
	text-align: left; /* Center the text */ /* Add some padding if needed */
	text-decoration: none;
}

.slide-title,
.slide-subtitle {
	margin: 0 0 10px; /* Adjust margin to control spacing between title and subtitle */
	color: #fff; /* Adjust text color as needed */
	text-decoration: none;
}

.slide-title {
	font-size: 3.2vh; /* Adjust title size */
}

.slide-subtitle {
	font-size: 2vh; /* Adjust subtitle size */
}

.swiper-button-prev{
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22z' fill='%237B003A'%3E%3C/path%3E%3C/svg%3E");
	position: absolute;
	top: 50%;
	left: -55px;
	width: 45px;
	height: 45px;
	transform: translateY(-50%);
	margin-top: 0px;
	z-index: 100;
}

.swiper-button-next{
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0l22,22z' fill='%237B003A'%3E%3C/path%3E%3C/svg%3E");
	margin-top: 0px;
	position: absolute;
	top: 50%;
	right: -55px;
	width: 45px;
	height: 45px;
	transform: translateY(-50%);
	z-index: 100;
}



a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}

@media (max-width: 1280px) {
	.slider-navigation {
		display:none;
	}
	
	.swiper-slide-overlay {
		display:none;
	}
}